version: '3.8'

services:
  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - prowlarr_config:/config
      - exports-media:/nfs
    ports:
      - "9696:9696"
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - sonarr_config:/config
      - sonarr_tv:/tv
      - exports-media:/nfs
    ports:
      - "8989:8989"
    restart: unless-stopped

  lidarr:
    image: linuxserver/lidarr
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - lidarr_config:/config
      - exports-media:/nfs
    ports:
      - "8686:8686"
    restart: unless-stopped

  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - qbittorrent_config:/config
      - exports-media:/nfs
    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped

  jellyfin:
    image: linuxserver/jellyfin
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - exports-media:/nfs
    ports:
      - "8096:8096"
      - "8920:8920"
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - radarr_config:/config
      - radarr_movies:/movies
      - exports-media:/nfs
    ports:
      - "7878:7878"
    restart: unless-stopped

  flaresolverr:
    image: 21hsmw/flaresolverr:nodriver
    container_name: flaresolverr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - DRIVER=nodriver
    ports:
      - "8191:8191"
    restart: unless-stopped

volumes:
  prowlarr_config:
  sonarr_config:
  sonarr_tv:
  lidarr_config:
  qbittorrent_config:
  jellyfin_config:
  jellyfin_cache:
  radarr_config:
  radarr_movies:
  exports-media:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.10.248,nolock,soft,rw
      device: ":/export/media"
